{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{% static 'main/main.css' %}">
  {% block cssjs %} {% endblock %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!--google fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;300;500;800;900&display=swap" rel="stylesheet">
  <!--google icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
  <div class="container">
    <aside>
      <div class="top">
        <div class="logo">
          <img src="{% static 'main/alligator.png'%}">
          <span class="logo-text">Dino<span class="success">Do</span></span>
        </div>
        <div class="close" id="close-btn">
          <span class="material-icons-outlined">close</span>
        </div>
      </div>
      <div class="sidebar">

        <a href="{% url 'main' %}" {% if request.path == "/" %}class="active"{% endif %}>
          <span class="material-icons-outlined" >grid_view</span>
          <h3>ToDo</h3>
        </a>
        <a href="#">
          <span class="material-icons-outlined">table_chart</span>
          <h3>Table</h3>
        </a>
        <a href="{% url 'challenges' %}" {% if request.path == "/challenges/" %}class="active"{% endif %}>
          <span class="material-icons-outlined">local_fire_department</span>
          <h3>Challenges</h3>
        </a>
        <a href="{% url 'friends' %}" {% if request.path == "/friends/" %}class="active"{% endif %}>
          <span class="material-icons-outlined">group</span>
          <h3>Friends</h3>
        </a>
        <a href="#">
          <span class="material-icons-outlined">calendar_month</span>
          <h3>Calendar</h3>
        </a>
        <a href="{% url 'profile' %}" {% if request.path == "/profile/" %}class="active"{% endif %}>
          <span class="material-icons-outlined">account_circle</span>
          <h3>Profile</h3>
        </a>
        <a href="{% url 'logout' %}" >
          <span class="material-icons-outlined">logout</span>
          <h3>Logout</h3>
        </a>

      </div>
    </aside>
    {% block content %}
    {% endblock %}

  </div>
{% block script %}
{% endblock %}

</body>
</html>