{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container1">
    <main>

      <div class="top-main">
        <div class="main-text">
          <h1>Good Evening, {{request.user}}!</h1>
          <h1 class="second">Do whatever you want!</h1>
        </div>

        <div class="date-main">
          <h5>{% now "D" %}</h5>
          <span class="date-int">{% now "j"%}</span>
          <h4>{% now "F" %}</h4>
        </div>
      </div>
      <div class="tasks">
        <div class="active-tasks">
          {% for task in tasks %}
            <div class="task-card">
              <label>
                <input type="checkbox" class="chkbx">
                <span>{{task.title}}</span>
              </label>
              <span><span>
            </div>
          {% endfor %}
        </div>
        <form method="post">
          <div class="new-task">
            <div class="task-card-new">
              {% csrf_token %}
              <input type="text" placeholder="New task" class="task-input" name="new-task" id="new-task">
            </div>
          </div>
        </form>
      </div>
    </main>
    <div class="rightside">
        <!--
        <div class="notifications">
        <div class="card-right">
          <!--{% for challenge in challenges %}
            <div class="item-right">
              <div class="wads">
                <div class="progress">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="60px" height="60px">
                     <defs>
                        <linearGradient id="GradientColor">
                           <stop offset="0%" stop-color="#e91e63" />
                           <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                     </defs>
                     <circle cx="30" cy="30" r="26" stroke-linecap="round" style="stroke-dashoffset: calc(164 - 164*({{challenge.self_hours}}/{{challenge.challenge.hours}})); stroke: {{challenge.challenge.color}}"/>
                   </svg>
                  <span class="level">{{challenge.self_hours}}</span>
                </div>
              </div>
              <span class="adaw">{{challenge.challenge}}</span>
            </div>
          {% endfor %}
        </div>
      </div>
        <div class="challenges">
        <div class="card-right">
            {% for relation in relationship %}
          <div class="card-mini">
              <div class="card-mini-left">
                  <span><img src="{% static relation.sender.photo %}"></span>
              </div>
              <div class="rightt">
                  <div class="friendss-text">
                      <a href=""><span>{{relation.sender}}</span></a>
                      <span>Invited you to become his friend !</span>
                  </div>
                  <div class="acceptdecline">
                      <a href="{% url 'accept_relationship' profile_id=relation.sender.id %}"><span class="accept">Accept</span></a>
                      <a href="{% url 'decline_relationship' profile_id=relation.sender.id %}"><span class="decline">Decline</span></a>
                  </div>
              </div>
          </div>
            {% endfor %}
        </div> -->
      </div>

    </div>
</div>
{% endblock %}